:host
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.login-container 
    width: 30%

.mat-toolbar 
    display: flex
    justify-content: center

form
    display: flex
    flex-direction: column

.mdc-button
    width: 50%
    margin-left: auto
    margin-right: auto