<div class="login-container">
    <mat-toolbar>
        <span>Login</span>
    </mat-toolbar>
    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>Email/Usernamer</mat-label>
            <input matInput placeholder="Ex. dog@gmail.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. dog19%31">
        </mat-form-field>
    </form>
</div>