<div class="login-container">
    <h1>LOGIN</h1>
    <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Email/Usernamer</mat-label>
            <input name="email" matInput formControlName="email" placeholder="Ex. dog@gmail.com">
                <mat-error *ngIf="isInvalid('email')">Email required</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input name="password" formControlName="password" matInput placeholder="Ex. dog19%31">
            <ng-container *ngIf="isInvalid('password')">
                <mat-error>Password required</mat-error>
            </ng-container>
        </mat-form-field>
        <button mat-button color="primary" (click)="onSubmit()">SIGN IN</button>
    </form>
</div>